<%- include('../include/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/mng.css"/>
<section>
    <div id="info_content" class="row mt-4 pl-2">
        <%- include('../include/menubar.ejs') %>
        <div id="content" class="col pl-5">
            소개 페이지<br><br><br><br><br><br>
            앞으로 해야할 리스트<br><br><br><br><br><br>
            앞으로 해야할 리스트<br><br><br><br><br><br>
            앞으로 해야할 리스트<br><br><br><br><br><br>
            앞으로 해야할 리스트<br><br><br><br><br><br>
            앞으로 해야할 리스트<br><br><br><br><br><br>
            앞으로 해야할 리스트<br><br><br><br><br><br>
            앞으로 해야할 리스트<br><br><br><br><br><br>
        </div>
    </div>
</section>
<%- include('../include/footer.ejs') %>
