<!--index.ejs-->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="../socket.io-client/dist/socket.io.js"></script>
    <script src="../jquery/dist/jquery.min.js"></script>
</head>
<body>d
</body>
</html>