  <footer class="pt-4 mt-4 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <h1>HOSEOPITAL</h1>
        <small class="d-block mb-3 text-muted ">UIT LAB &copy; 2017-2020</small>
      </div>
      <div class="col-6 col-md">
        <h5><b>이용약관</b></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">UIT LAB 이용약관</a></li>
          <li><a class="text-muted" href="#">HOSEOPITAL 이용약관</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><b>개인정보처리방침</b></h5>
        <ul class="list-unstyled ">
          <li><a class="text-muted" href="#">UIT LAB 개인정보처리방침</a></li>
          <li><a class="text-muted" href="#">HOSEOPITAL 개인정보처리방침</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>

<style>
    footer{
        padding-left:20px;
        background-color: lightgray;
    }
    footer div{
        padding-left:0;
        width:100%;
    }
</style>