<%- include('../include/header.ejs') %>
<section>
    <div id="info_content" class="row mt-4 pl-2">
        <%- include('../include/menubar.ejs') %>
        <div id="content" class="col pl-5">
            <h1 id="content_header" class="text-center">소개 페이지</h1>
            여기는 호서피탈에 관한 설명을 쓸 거에요. <br><br><br><br><br>
            아시겠어요?<br><br><br><br><br>
            아시겠냐구요<br><br><br><br><br>
            여기는 호서피탈에 관한 설명을 쓸 거에요. <br><br><br><br><br>
            아시겠어요?<br><br><br><br><br>
            아시겠냐구요<br><br><br><br><br>
            여기는 호서피탈에 관한 설명을 쓸 거에요. <br><br><br><br><br>
            아시겠어요?<br><br><br><br><br>
            아시겠냐구요<br><br><br><br><br>
            여기는 호서피탈에 관한 설명을 쓸 거에요. <br><br><br><br><br>
            아시겠어요?<br><br><br><br><br>
            아시겠냐구요<br><br><br><br><br>
        </div>
    </div>
</section>
<%- include('../include/footer.ejs') %>


